*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color:azure;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: max(400px,50%);
    gap: 10px;
    padding: 0.5rem max(1rem,15vw);
}

.block{
    background-color: white;
    border: 2px solid black;
    color: red;
}